/**
 *TEXT
*/
.username_d30d99 {
    color: var(--p1) !important;
}

/**
 *interactive
*/
.interactive__776ee:hover,
.interactive__776ee:focus-within,
.interactiveSelected_ec846b,
.peopleListItem_d14722:hover {
    background: var(--bg) !important;
    background-color: var(--bg) !important;
    border-radius: var(--r) !important;
    color: var(--p1) !important;
}
/**
 *invis-background
*/
.link__2e8e1 {
    background-color: transparent !important;
}

/**
 *color: p
*/
.subtext__1a662 {
    color: var(--p) !important;
}

/**
 *color: p1
*/
.link__2e8e1,
.username__81ee6 {
    color: var(--p1) !important;
}

/**
 *background-color: bg
*/
.scrollerBase_dc3aa9,
.tabBody_b3d268,
.searchBar_e4ea2a,
.upperContainer__993ba,
.form__13a2c:before,
.form__13a2c,
.themed_b152d4,
.themedBackground__6b1b6,
.member_b44d5d,
.clickable__17ccb:hover .layout_bb8e67,
.container_ca50b9 {
    background-color: var(--bg) !important;
    background: var(--bg) !important;
}

/**
 *background-color: bg2
*/
{
    background-color: var(--bg2) !important;
}

/**
 *border-radius
*/
.scrollableContainer__33e06,
.clickable__17ccb:hover .layout_bb8e67 {
    border-radius: var(--r) !important;
}
/**
 *box-shadow
*/
.scrollableContainer__33e06,
.interactiveSelected_ec846b,
.interactive__776ee:hover,
.interactive__776ee:focus-within,
.peopleListItem_d14722:hover,
.clickable__17ccb:hover .layout_bb8e67 {
    -webkit-box-shadow: inset 0 0 0 1px var(--p1) !important;
}
